---
import { Post } from '../lib/interfaces.ts'
import { getNavLink, getPostLink } from '../lib/blog-helpers.ts'
import PostTags from './PostTags.astro'

export interface Props {
  prevPost: Post
  nextPost: Post
}

const { prevPost, nextPost } = Astro.props
---

<div class="post-relative-link">
  <div>
    {
      prevPost && (
        <a href={getPostLink(prevPost.Slug)} class="colored flex flex-col justify-start gap-2">
          <div class="text-left">◀ Previous</div>
          <div class="text-left font-bold">{prevPost.Title}</div>
          <PostTags post={prevPost} enableLink={false} />
        </a>
      )
    }
    
  </div>
  <div>
    {
      nextPost && (
        <a href={getPostLink(nextPost.Slug)} class="colored flex flex-col justify-end gap-2">
          <div class="text-right">▶︎ Next</div>
          <div class="text-right font-bold">{nextPost.Title}</div>
          <PostTags post={nextPost} enableLink={false} directionRight={true}/>
        </a>
      )
    }
  </div>
  <div>
    <a href={getNavLink('/posts')} class="text">目次に戻る</a>
  </div>
</div>

<style>
  div.post-relative-link {
    margin-top: 1rem;
  }
  div.post-relative-link > div {
    display: block;
    margin-top: 0.6rem;
  }
  div.post-relative-link > div > a {
    text-align: center;
    line-height: 1.2rem;
    font-size: 0.95rem;
  }
  div.post-relative-link > div > a.text {
    margin-top: 1rem;
    padding: 0.5rem;
    color: inherit;
    font-size: 1rem;
    border-bottom: dotted 2px var(--accents-1);
    color: var(--accents-1);
    font-weight: 500;
    display: block;
  }
  div.post-relative-link > div > a.colored {
    padding: 1rem;
    border-radius: var(--radius);
    color: var(--accents-1);
    border: dotted 2px var(--accents-1);
  }
  
</style>
